@font-face {
	font-family: NexaRegular;
	src: url("../webfonts/Nexa-Regular.otf"); 
}

@font-face {
	font-family: Nexa Bold;
	src: url("../webfonts/Nexa-Bold.otf"); 
}

/*standaard vormgeving */
body {
	margin: 0;
	padding: 0;
}

/*main content */
main {
	display: flex;
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-position: center;
	height: 97vh;
}

/* header content */
header nav ul {
	background-color: #fff;
	margin: 0;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

ul {
	list-style-type: none;
} 

li:nth-of-type(2) {
	margin-left: auto;
}

img[src="images/transavia2.png"] {
	width: 10em;
	height: 2em;
	margin-top: .5em;
	margin-left: -2em;
	margin-bottom: .5em;
} 

img[src="images/hartje.png"] {
	width: 2.5em;
	margin-right: .7em;
	margin-top: .5em;
}	

img[src="images/aanmelden.png"] {
	width: 2em;
	margin-right: .5em;
	margin-top: .6em;
}

h1 {
	background-color: rgba(255, 255, 255, 1);
	border-radius: .95em .95em 0 0;
	font-size: 2em;
	padding: 1em 1.2em;
	color: #00d66c;
	font-family: "Nexa Bold";
	margin: 0;
}

#counter {
    font-family: Nexa-Bold;
    color: white;
    position: absolute;
    right: 4.1em;
    top: 1em;
	font-family: 'Nexa Bold';
}

/*formulieren*/
fieldset {
	border: 0;
}

legend {
	display: none;
}

section {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: .95em;
	margin: auto;
	margin-top: 1em;
	position: relative;
	max-width: 36em;
}

form {
	display: inline-block;
	max-width: 60em;
	border-radius: .95em;
	padding: 0;
	margin: 0;
}
	
form button {
	background-color: #ff3268;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	border: 0;
	box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
	padding: .5rem;
	transition: .2s;
	border-radius: 1.25em;
	min-height: 1.5rem;
	min-width: 1.5rem;
	font-family: "NexaRegular";
	display: block;
	margin-top: .5em;
}

form button:active {
	background-color: #ca2b55;
}

form label {
	display: inline-block;
	text-align: left;
	margin-bottom: .2em;
	margin-top: .2em;
	font-family: "Nexa Bold";
	width: 80%;	
}

form input {
	border-radius: .5rem;
    border: 1px solid lightgray;
    padding: 0.5em 0.5em;
    display: inline;
    width: 88%;
    font-size: 0.8em;
	outline: 0;
}

p {
	font-family: "NexaRegular";
}

/*Formulier states*/
input:hover {
	border: .0625em solid #000000;
}

input:focus {
	border: .0625em solid #2800a0;
}

@keyframes checkValid {
    from { opacity:0;
    }
    to { opacity:1;
    }
}

input:required:valid {
    border-color: #00d66c;
    width: 88%;
    background: #fff url('../images/add_actief.png') no-repeat 35em;
    animation: checkValid 0.8s ease-in;
    background-size: 1.5em;
}

/* Link states */
a {
	color: #000;
}

a:visited {
	color: #2800a0
}

/*Button*/
button {
	cursor: pointer;
	font-size: 1.2em;
}